<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">

	<Properties>
		<Property name="PID">????</Property>
	</Properties>

	<Appenders>
		<LiveLog name="livelog">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${sys:PID} --- [%15.15t] %-40.40c{1.} : %m%n%xwEx" />
		</LiveLog>

		<Console name="console">
			<PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx" />
		</Console>

		<RollingRandomAccessFile name="file" fileName="${saf:application.home}/logs/${saf:application.id}.log"
			filePattern="${saf:application.home}/logs/${saf:application.id}-%d{yyyy-MM-dd}.log.zip">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${sys:PID} --- [%t] %-40.40c{1.} : %m%n%xwEx" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>

		<Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
		<Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
		<Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
		<logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
		<Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
		<Logger name="org.apache.tomcat.util.scan.StandardJarScanner" level="error" />
		<Logger name="org.crsh.plugin" level="warn" />
		<logger name="org.crsh.ssh" level="warn"/>
		<Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
		<Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
		<logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="warn"/>
		<logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
		<logger name="org.thymeleaf" level="warn"/>

		<Logger name="ch" level="warn" includeLocation="true" />
		<Logger name="com" level="warn" includeLocation="true" />
		<Logger name="com.sf" level="info" includeLocation="true" />
		<Logger name="eu" level="warn" includeLocation="true" />
		<Logger name="freemarker" level="warn" includeLocation="true" />
		<Logger name="httpclient" level="warn" includeLocation="true" />
		<Logger name="hu" level="warn" includeLocation="true" />
		<Logger name="io" level="warn" includeLocation="true" />
		<Logger name="net" level="warn" includeLocation="true" />
		<Logger name="org" level="warn" includeLocation="true" />
		<Logger name="liquibase" level="warn" includeLocation="true" />

		<Root level="info" includeLocation="true">
			<!--<AppenderRef ref="livelog" />-->
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>

	</Loggers>
</Configuration>